<%-include('./partials/head.ejs') %>
<%-include('./partials/header.ejs') %>

        <div class="container-fluid d-flex justify-content-center contenedorPrincipal" id="inicio">
            <div class="container w-75 d-flex contenedorSecundario carreras">
                <div class="contenedorCarrera">
                    <img src="/img/Lamparas/lampara.jpg" alt="">
                    <div class="textoCarrera">
                        <h3>nombre dise침ador</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, voluptatem maxime? Distinctio
                            recusandae in quaerat doloribus ab, excepturi ducimus omnis. Eum quos est commodi earum,
                            dicta consectetur mollitia! Minus, saepe.</p>
                    </div>
                </div>
                <div class="productosDiseniador">
                    <h3>productos de nombre dise침ador</h3>
                    <div class="contenedorProductDiseniadores">
                        <%for(let i=0;i<=3;i++){%>
                            <%-include('./partials/lampProduct.ejs')%>
                        <%}%>
                    </div>
                    <!-- segun cantidad de productos de dise침adores -->
                    <div class="contenedorProductDiseniadores contenedorOculto" id="contenedorOculto">
                        <%-include('./partials/lampProduct.ejs')%>
                        <%-include('./partials/lampProduct.ejs')%>
                        <%-include('./partials/lampProduct.ejs')%>
                        
                    </div>
                </div>

                <button class="btnCarreras" id="btnCarreras" onclick="contenedorVisible()">ver m치s</button>
                

            </div>
        </div>


        <script src="/js/main.js"></script>
        <script src="/js/carreras.js"></script>

        <%-include('../views/partials/footer.ejs') %>