<%-include('./partials/head.ejs') %>
<%-include('./partials/header.ejs') %>

<div>
    <%-include('../views/inicio/hero.ejs') %>
    <%-include('../views/inicio/bestseller.ejs') %>
    <%-include('../views/inicio/saleofcollection.ejs') %>
    <%-include('../views/inicio/bestdesigner.ejs') %>
    <%-include('../views/inicio/newCollection.ejs') %>
    <%-include('../views/inicio/productypes.ejs') %>
    <%-include('../views/inicio/ourEmotions.ejs') %>
    <%-include('../views/inicio/signup.ejs') %>
    
</div>

<%-include('../views/partials/footer.ejs') %>