<div class="<%= locals.clase ? clase : ''%>">
  <p>productos (<%=products.length%>)</p>
  <%products.forEach(product=>{%>
  <div class="boxLamps">
    <img src="/img/Lamparas/lampara.jpg" alt="" />
    <p class="medidas"><%=product.medida%></p>
    <div class="contenedorTextos">
      <p class="marca"><%=product.nombre%></p>
      <p class="precio"><%=product.precio%></p>
      <p class="creador"><%=product.autor%></p>
      <p class="descripcion"><%=product.descripcion%></p>
    </div>
    <form action="agregar" method="post">
      <input type="hidden" name="idProducto" value="<%= product.idProducto %>">
      <input type="hidden" name="nombre" value="<%= product.nombre %>">
      <input type="hidden" name="precio" value="<%= product.precio %>">
      <input type="hidden" name="imagen" value="<%= product.imagen %>">
      <input type="hidden" name="cantidad" value="1">
      <input class="btnCarrito" type="submit" value="Comprar">
    </form>
  </div>
  <%})%>
</div>