<%-include('./partials/head.ejs') %>
<%-include('./partials/header.ejs') %>

        <div class="container-fluid d-flex justify-content-center contenedorPrincipal">
            <div class="container contenedorSecundario login">
                <h3 class="text-center">Inicio de Sesión</h3>
                <div class="card-body text-center">
                    <img class="card-img-top w-25" src="resources/img/user.png" alt="user">
                    <form action="auth" method="post">
                        <div class="my-3">
                            <input class="user" name="user" id="user" type="text" placeholder="Usuario">
                        </div>
                        <div class="my-3">
                            <input class="password" name="pass" id="pass" type="password" placeholder="Contraseña">
                        </div>
                        <div class="d-grid gap-1">
                            <input class="btnLogin" type="submit" value="Ingresar">
                        </div>
                    </form>
                    <div class="d-grid gap-1">
                        <a href="registrar" class="btnRegister">Registrar</a>
                    </div>
                </div>
            </div>
        </div>






        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <% if (typeof alert !="undefined" ) { %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton: '<%= showConfirmButton %>',
                    timer: '<%= timer %>'
                }).then(() => {
                    window.location = '/<%= ruta %>'
                })
            </script>
            <% } %>

            
<script src="/js/main.js"></script>